.wp {
    background-image:url('chrome-extension://__MSG_@@extension_id__/pics/pieces/cburnett/wP.svg') !important;
}
.wn {
    background-image:url('chrome-extension://__MSG_@@extension_id__/pics/pieces/cburnett/wN.svg') !important;
}
.wb {
    background-image:url('chrome-extension://__MSG_@@extension_id__/pics/pieces/cburnett/wB.svg') !important;
}
.wr {
    background-image:url('chrome-extension://__MSG_@@extension_id__/pics/pieces/cburnett/wR.svg') !important;
}
.wq {
    background-image:url('chrome-extension://__MSG_@@extension_id__/pics/pieces/cburnett/wQ.svg') !important;
}
.wk {
    background-image:url('chrome-extension://__MSG_@@extension_id__/pics/pieces/cburnett/wK.svg') !important;
}
.bp {
    background-image:url('chrome-extension://__MSG_@@extension_id__/pics/pieces/cburnett/bP.svg') !important;
}
.bn {
    background-image:url('chrome-extension://__MSG_@@extension_id__/pics/pieces/cburnett/bN.svg') !important;
}
.bb {
    background-image:url('chrome-extension://__MSG_@@extension_id__/pics/pieces/cburnett/bB.svg') !important;
}
.br {
    background-image:url('chrome-extension://__MSG_@@extension_id__/pics/pieces/cburnett/bR.svg') !important;
}
.bq {
    background-image:url('chrome-extension://__MSG_@@extension_id__/pics/pieces/cburnett/bQ.svg') !important;
}
.bk {
    background-image:url('chrome-extension://__MSG_@@extension_id__/pics/pieces/cburnett/bK.svg') !important;
}
.board {
    background-image:url('chrome-extension://__MSG_@@extension_id__/pics/board.png') !important;
}
.highlight {
    background-color: #F2F1AB !important;
}
/* polygon.arrow { */
/*     fill: rgba(242, 120, 180, 0.8); !important; */
/* } */
# lichess styles
